@import "./src/pages/styles/global.scss";

.header {
  @include flex-between;
  padding-inline: $padding-inline;
  padding-top: 2em;
  background-color: $white;

  @include mobile {
    padding-inline: 0;
    padding-top: 1em;
    flex-direction: row;
    justify-content: space-between;
    gap: 5em;
  }
}
.logo {
  display: flex;
  align-items: start;
  margin-left: 1.5em;
}

nav {
  display: flex;
  margin-right: 1.5em;

  @include mobile {
    margin-top: 1em;
    gap: 5em;
  }
}

nav a {
  text-align: right;
  font-weight: 500;
  font-size: 24px;
  margin-left: 70px;
  text-decoration: none;
  color: $text-color;
  flex-wrap: nowrap;

  &:hover {
    font-weight: bold;
  }

  &.active {
    text-decoration: underline;
  }

  @include mobile {
    justify-content: start;
    font-size: 24px;
    margin-left: 20px;
    text-wrap: nowrap;
  }
}
