.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10em;
    padding-top: 2em;
    background-color: #fff;
  }
  
  .nav {
    display: flex;
    
  }

  nav a {
    text-align: right;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    margin-left: 70px;
    text-decoration: none;
    color: #000;
  }
  
  nav a:hover {
    font-weight: bold;
  }

  nav a.active {
    text-decoration: underline;
  }